* {
    margin: 0px;
    padding: 0px;
}
/* Main Elements */
body {
    background-image: url(../img/backgroundImg900x725Dark.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;   
    
    background-size: cover;

    
}


.outerWhiteWraper {
    margin: 10% 10%;
    background-color: white;
    padding: 3% 10%;
    border-radius: .1%;
    border: 1px solid; 
    padding: 10px;
    box-shadow: 0px 0px 20px #888888;
    opacity: 0.9;

}

h1 {
    text-align: center;
}
h3{
    text-align: center;
    padding-bottom:15px;
}
/* .budgetFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
} */
/*Remaining Budget*/
.remainingBudgetContainer {    
    display: flex;
    justify-content: center;
    align-items: center;
}
.circleButton {
    background-color: aqua;
    width: 200px;
    height: 200px;  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    

}

/* .remainingBudgetHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
} */
.remainingBudget {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* Spent Snapshot */

.spentSnapshot {
    margin-top: 0px;
    padding: 25px;
    text-align: center;
}
/* Footer Buttons*/

footer {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
}
.swapView {
    width: 30%;
    padding: 5px;
}
.add {
    width: 30%;
    padding: 5px;
}

/************************* DETAILED VIEW *************/
.detailedViewWrapper {
    /* margin-top: 45px; */
    padding-bottom:10px;
}

.detailedView {
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

.icons {
    width:30px;
    height:30px;
    color: black;
}
/************************* POP UP *******************/
.popupFormContainer{
     
    width:335px;
background-color:red; 
    z-index:1; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
 /* select {
     display:block;
     margin:
 } */
 input,select,.submit {
     display:block;
    margin:0 auto;
    border:1px;
    padding:0.5%; 
    width:70%;
}
option {
    margin: 10px;

}

.submit {
background-color: aqua;
outline:none;
}
.currencyinput {
    border: 1px inset #ccc;
}
.addPurchase {
    text-align: center;
} 

.material-icons {
    position: relative;
    left:89%;
    
     
}



/* @media only screen and (min-width: 600px){
 body {
    background-image: url(../img/backgroundImg2000x1306.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;   
} */