* {
    margin: 0px;
    padding: 0px;
}
/* Main Elements */
body {
    background-image: url("img/backgroundImg900x725Dark.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;   
    
    background-size: cover;

    
}


.outerWhiteWraper {
    margin: 10% 10%;
    background-color: white;
    padding: 3% 10%;
    border-radius: .1%;
    border: 1px solid; 
    padding: 10px;
    box-shadow: 0px 0px 20px #888888;
    opacity: 0.9;

}

h1 {
    text-align: center;
}

.logoBills {
    color: rgb(15, 160, 15);
}
h3{
    text-align: center;
    padding-bottom:15px;
}
/*Remaining Budget*/
.remainingBudgetContainer {
    margin-top: 40px;       
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.circleButton {
    background-color: aqua;
    width: 200px;
    height: 200px;  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    

}

/* .remainingBudgetHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
} */

.remainingBudget {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* Spent Snapshot */

.spentSnapshot {
    margin-top: 20px;
    padding: 25px;
    text-align: center;
}
/* Footer Buttons*/

footer {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
}
.swapView {
    width: 30%;
    padding: 5px;
}
.add {
    width: 30%;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
    background-color:#5CF64A;
}
 #filterTransactionButton {
    width: 30%;
    padding: 5px;
    font-family: 'Quicksand', sans-serif;
    background-color:#5CF64A;
 }
/************************* DETAILED VIEW *************/
.detailedViewWrapper {
    /* margin-top: 45px; */
    padding-bottom:10px;
}

.detailedView {
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

.icons {
    width:30px;
    height:30px;
    color: black;
}
/************************* POP UP *******************/
.hidden {
    display: none; 
}
.popupFormContainer{
    /* display: none; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    position: fixed; 
    background-color: gray; 
    transform: translate(20%,-130%);
    z-index:1;
    /* top: 50%; */
    /* left: 50%; */
    /* margin-top: -100px; Negative half of height. */
    /* margin-left: -250px; Negative half of width. */
}

.popupFormContent {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        flex-direction: column; 
        

    }
    
     .popupStyling {
        margin: 10px;
        background-color:rgb(125, 187, 118);
        outline-color: white;
    
     }
    
     #item_category{
        font-family: 'Quicksand', sans-serif;
        outline-color: white;
     }
     
        
    
     #addTransactionButton {
        background-color:#5CF64A;
        padding: 5px; 
        border-radius: 5%; 
        font-family: 'Quicksand', sans-serif;
        outline-color: white;
    }

/****************************FILTER POPUP**********************/

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
 
  /* Filter Button on popup */
 .filterContainer {
  /* border: 1px solid black; */
  /* width: 30%; */
  /* padding: 15px;
  margin: 20px; */
  position: fixed; 
    background-color: gray; 
    transform: translate(20%,-130%);
    z-index:1;
 }
 
  .filterButton {
    background-color: #2196F3; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;  
  }
 
  .filter {
    width: 60px;
    height: 60px;
    margin: 5px;
    float: left;
    border: 2px blue solid;
  }


/* input {
    margin: 10px;
}
option {
    margin: 10px;

}
.addPurchase {
    text-align: center;
} */

/* @media only screen and (min-width: 600px){
 body {
    background-image: url(../img/backgroundImg2000x1306.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;   
} */